@import "tailwindcss";

.text-primary {
	color: #5a72ea;
}

html {
	overflow-x: hidden;
}

.bg-primary {
	background-color: #5a72ea;
}

.text-secondary {
	color: #8468b1;
}

.bg-secondary {
	background-color: #8468b1;
}

.bg-gradient {
	background: linear-gradient(90deg, #5a72ea 0%, #8468b1 100%);
}
